# Encoding Categorical Data | Ordinal Encoding | Label Encoding

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Customer1.csv',encoding= 'unicode_escape')
df.head()

   Age  Gender   Review eductaion purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [3]:
df = df.iloc[:,2:]

In [4]:
df.head()

    Review eductaion purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

# Train Test

In [5]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2)

# Odenal encoding

In [6]:
x_train

     Review eductaion
16     Poor        UG
29  Average        UG
35     Poor    School
39     Poor        PG
37  Average        PG
5   Average    School
41     Good        PG
14     Poor        PG
27     Poor        PG
47     Good        PG
6      Good    School
11     Good        UG
2      Good        PG
42     Good        PG
49     Good        UG
7      Poor    School
32  Average        UG
24  Average        PG
23     Good    School
22     Poor        PG
13  Average    School
0   Average    School
34  Average    School
9      Good        UG
19     Poor        PG
21  Average        PG
45     Poor        PG
30  Average        UG
28     Poor    School
48     Good        UG
3      Good        PG
8   Average        UG
36     Good        UG
10     Good        UG
18     Good    School
31     Poor    School
1      Poor        UG
12     Poor    School
15     Poor        UG
38     Good    School

In [7]:
from sklearn.preprocessing import OrdinalEncoder

In [8]:
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [9]:
oe.fit(x_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [10]:
x_train = oe.transform(x_train)
x_test = oe.transform(x_test)

In [11]:
x_train

array([[0., 1.],
       [1., 1.],
       [0., 0.],
       [0., 2.],
       [1., 2.],
       [1., 0.],
       [2., 2.],
       [0., 2.],
       [0., 2.],
       [2., 2.],
       [2., 0.],
       [2., 1.],
       [2., 2.],
       [2., 2.],
       [2., 1.],
       [0., 0.],
       [1., 1.],
       [1., 2.],
       [2., 0.],
       [0., 2.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [2., 1.],
       [0., 2.],
       [1., 2.],
       [0., 2.],
       [1., 1.],
       [0., 0.],
       [2., 1.],
       [2., 2.],
       [1., 1.],
       [2., 1.],
       [2., 1.],
       [2., 0.],
       [0., 0.],
       [0., 1.],
       [0., 0.],
       [0., 1.],
       [2., 0.]])

In [12]:
oe.categories_

[array(['Poor', 'Average', 'Good'], dtype=object),
 array(['School', 'UG', 'PG'], dtype=object)]

# lebal encoder

In [13]:
from sklearn.preprocessing import LabelEncoder

In [20]:
le = LabelEncoder()

In [21]:
le.fit(y_train)

LabelEncoder()

In [22]:
le.classes_

array(['No', 'Yes'], dtype=object)

In [23]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [25]:
y_train

array([1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0])