In [1]:
import pandas as pd
import numpy as np 
from sklearn import linear_model
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('home price.csv')
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      NaN   18  610000
3  3600      3.0   30  565000
4  4000      5.0    8  760000

# topic 

# Preprocessing : Hanling missing values

# linear Regression Using Multiple Variables

In [5]:
import math
df.bedroom.median()

3.5

In [8]:
df.bedroom = df.bedroom.fillna(df.bedroom.median())
df

   area  bedroom  age   price
0  2600      3.0   20  550000
1  3000      4.0   15  565000
2  3200      3.5   18  610000
3  3600      3.0   30  565000
4  4000      5.0    8  760000

In [9]:
model = linear_model.LinearRegression()
model.fit(df.drop('price',axis='columns'),df.price)

LinearRegression()

In [13]:
model.predict([[300,3,40]])

C:\Users\91844\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([-254369.99686078])

In [14]:
model.predict([[2500,4,5]])

C:\Users\91844\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([643799.44278763])